{% extends 'template.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block content %}

	{% for message in app.flashes('success') %}
		<div class="d-flex justify-content-center">
			<div class="alert alert-success w-50 my-3">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermé"></button>
				{{ message }}
			</div>
		</div>
	{% endfor %}

	<h1 class="titleSeances my-5">Se connecter</h1>

	<section class="container media-largeur-accueil">

		<form method="post">

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>
			{% endif %}

			<div class="flex justify-content-center mx-3 fs-3 text-white">
				<label for="inputEmail" class="text-white my-3">Email :
				</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

				<label for="inputPassword" class="text-white my-3">Mot de passe :
				</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="checkbox text-white fs-4 my-4">
					<label>
						<input type="checkbox" name="_remember_me" id="login_form_rememberMe">Se souvenir de moi
					</label>
				</div>


				<div class="d-flex justify-content-center my-4">
					<button class="btn btn-success bouton-accueil" type="submit">
						Connexion
					</button>
				</div>
			</div>

		</form>

		<div>
			<img src="{{ asset('assets/images/img1.webp') }}" alt="image de fast fitness" class="d-block w-100">
		</div>

	</section>
{% endblock %}
