{% extends 'template.html.twig' %}

{% block title %}Séances Fast-Fitness
{% endblock %}

{% block content %}

	<h1 class="titleSeances mt-5">Vous voulez booster votre carrière sportive ou de mannequinat?<br/>Prennez rendez vous avec notre coach et/ou notre diététicien</h1>

	<section class="d-flex align-items-center flex-column my-4">

		<div class="d-flex my-2">
			<p class="fs-3 text-white">Réservez une séance avec Julien,<br />notre diététicien toujours au top</p>
		</div>

		<div class="fs-3 text-white d-flex">
			{{ form_start(reservationDieteticien) }}

			{{ form_row(reservationDieteticien.dateDebut, {
            label: 'Date de début de la réservation : ',
			id: "datetimepicker1"
        }) }}

			<div class="d-flex justify-content-center my-4">
				<button type="submit" class="btn btn-success mb-2 px-1 py-1 fs-3">Valider</button>
			</div>
			{{ form_end(reservationDieteticien) }}
	</div>


</section>

<section class="d-flex align-items-center flex-column my-4">

	<div class="d-flex my-2">
		<p class="fs-3 text-white">Réservez une séance avec Marc,<br />coach professionnel pour athlètes</p>
	</div>

	<div class="fs-3 text-white d-flex">
		{{ form_start(reservationCoach) }}

		{{ form_row(reservationCoach.dateDebut, {
            label: 'Date de début de la réservation : ',
			id: "datetimepicker2"
        }) }}
		
		<div class="d-flex justify-content-center my-4">
			<button type="submit" class="btn btn-success mb-2 px-1 py-1 fs-3">Valider</button>
		</div>
		{{ form_end(reservationCoach) }}
	</div>


</section>{% endblock %}


{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<script src="{{asset('js/jquery.datetimepicker.full.min.js')}}"></script>
<script>

	// see doc at https://xdsoft.net/jqplugins/datetimepicker/
	$.datetimepicker.setLocale('fr');
	const conf1 = {
		format:'Y-m-d H:i',
		inline: true,
		dayOfWeekStart: 1,
		disabledWeekDays: [0,6],
		theme: 'dark',
		minDate: 0,
		minTime:'09:00:00',
		maxTime:'18:00:00',
		formatDate:'Y-m-d',
		onGenerate: function(ct, $i){
			var date=moment(ct).format('Y-MM-D');
			var datesArray={{ reservationDieteticienPrises|json_encode|raw }};

			$.each(datesArray, function(i, dates){
				if(date in dates){
					var reservationDieteticienPrises=dates[date];
					$.each(reservationDieteticienPrises, function(index, time){
						var hour=reservationDieteticienPrises['hour'];
						var minute=reservationDieteticienPrises['minute'];
						var $object=$('[data-hour="' + hour + '"][data-minute="' + minute + '"]');
						$object.addClass('xdsoft_disabled');
					});
				}
			});
		}
	};
	const conf2 = {
		format:'Y-m-d H:i',
		inline: true,
		dayOfWeekStart: 1,
		disabledWeekDays: [0,6],
		theme: 'dark',
		minDate: 0,
		minTime:'09:00:00',
		maxTime:'18:00:00',
		formatDate:'Y-m-d',
		onGenerate: function(ct, $i){
			var date=moment(ct).format('Y-MM-D');
			var datesArray={{ reservationCoachPrises|json_encode|raw }};

			$.each(datesArray, function(i, dates){
				if(date in dates){
					var reservationCoachPrises=dates[date];
					$.each(reservationCoachPrises, function(index, time){
						var hour=reservationCoachPrises['hour'];
						var minute=reservationCoachPrises['minute'];
						var $object=$('[data-hour="' + hour + '"][data-minute="' + minute + '"]');
						$object.addClass('xdsoft_disabled');
					});
				}
			});
		}
	};
	$('#datetimepicker1').datetimepicker(conf1);
	$('#datetimepicker2').datetimepicker(conf2);
	
</script>
{% endblock %}