{% extends 'template.html.twig' %}

{% block title %}Comment{% endblock %}

{% block content %}
    <h1 class="titleBlog my-5 mx-2">Salut Julien tu peux modifier ou/et supprimer ce commentaire</h1>

    <div class="d-flex justify-content-center">
		<article class="my-3 queries-articles">

			<div class="card">
				<div class="card-body">
					{#<p class="card-text">{{ comment.user_id }}</p>#}
					<p class="card-text">{{ comment.content }}</p>
					<p>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</p>

					{% if is_granted('ROLE_ADMIN') %}
					<div class="d-flex justify-content-center">
					<a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-success my-4 me-4">Modifier</a>
					<a href="{{ path('app_comment_delete', {'id': comment.id}) }}" class="btn btn-success my-4">Supprimer</a>
					</div>
					{% endif %}
					
				</div>
			</div>

		</article>
		</div>
    
    {{ include('comment/_delete_form.html.twig') }}
    <div class="d-flex justify-content-center my-4">
    <a href="{{ path('app_post_index') }}" class="btn btn-success">Tous les articles</a>
    </div>
{% endblock %}
