<div class="d-flex justify-content-center">
	<div class="w-75">

		{{ form_start(form) }}

		{{ form_row(form.title) }}
		{{ form_row(form.content) }}
        
		<div class="input-group my-4">
			{{ form_row(form.image) }}
		</div>

		<div class="d-flex justify-content-center my-4">
			<button class="btn btn-success bouton-accueil">{{ button_label|default('Enregister') }}</button>
		</div>

		{{ form_end(form) }}

	</div>
</div>
