{% extends 'template.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block content %}

	{% if is_granted('ROLE_ADMIN') %}
	<a href="{{ path('app_post_new') }}">Create new</a>
	{% endif %}
	<h1 class="titleBlog my-3">Post index</h1>
	{% for post in posts %}
		<article class="d-flex justify-content-center my-3">
		<div class="card" style="width: 18rem;">
			<img src="{{'/uploads/images/' ~ post.image}}" class="card-img-top" alt="mon image">
			<div class="card-body">
				<h5 class="card-title">{{ post.title }}</h5>
				<p class="card-text">{{ post.content }}</p>
				<p>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>
				<a href="{{ path('app_post_show', {'id': post.id}) }} class=" btn btn-primary"">Voir l'article en entier</a>
				<a href="{{ path('app_post_edit', {'id': post.id}) }} class=" btn btn-primary"">Modifier</a>
			</div>
		</div>
		</article>
	{% else %}
		<tr>
			<td colspan="6">Pas encore d'article à l'heure actuelle</td>
		</tr>
	{% endfor %}


{% endblock %}
