{% extends 'template.html.twig' %}

{% block title %}Article
{% endblock %}

{% block content %}

	<h1 class="titleBlog my-5 mx-2">L'article est consultable en entier sur cette page,<br/>il est même possible de le commenter</h1>
	<div class="d-flex justify-content-center bg-dark">
	<article class="my-3 fs-5 queries-articles-show-post">

		<div class="card bg-dark">
			<div class="card-body">
				<div>
					<img src="{{'/uploads/images/' ~ post.image}}" class="card-img-top" alt="mon image">
				</div>
				<div class="text-white">
					<h5 class="card-title my-3 fs-2">{{ post.title }}</h5>
					<p class="card-text my-3">{{ post.content }}</p>
					<p>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>
					{% if is_granted('ROLE_ADMIN') %}
					<div class="d-flex justify-content-center flex-row">
					<a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-success me-3">Modifier</a>
					{{ include('post/_delete_form.html.twig') }}
					</div>
					
					{% endif %}
				</div>
			</div>
		</div>

	</article>
	</div>


	<h1 class="titleBlog my-5 mx-2">Voici les commentaires de cet article,<br/>
		dîtes nous aussi votre avis</h1>

	{% for comment in comments %}
	<div class="d-flex justify-content-center">
		<article class="my-3 queries-articles">

			<div class="card">
				<div class="card-body">
					{#<p class="card-text">{{ comment.username }}</p>#}
					<p class="card-text">{{ comment.content }}</p>
					<p class="card-text">par : {{ comment.user.username }}</p>
					<p class="card-text"></p>
					<p>date : {{ post.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</p>
					{% if is_granted('ROLE_ADMIN') %}
					<div class="d-flex justify-content-center flex-row">
					<a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-success me-3">Modifier</a>
					{{ include('comment/_delete_form.html.twig') }}
					</div>
					{% endif %}
					
				</div>
			</div>

		</article>
		</div>

	{% else %}

			<div class="d-flex justify-content-center text-white my-4">
			<p>Il n'y a pas encore de commentaires... Allez y dîtes nous ce que vous pensez de cet article</p>
			</div>
		
	{% endfor %}
	
	
<div class="d-flex justify-content-center">
<a href="{{ path('app_comment_new', {'id': post.id}) }}" class="btn btn-success my-4 me-4">Nouveau commentaire</a>
<a href="{{ path('app_post_index') }}" class="btn btn-success my-4">Tous les articles</a>
</div>
{% endblock %}
